@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');




*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #fff;
    font-family: 'Lobster', sans-serif;
    background-image: url(../assets/Images/night-city.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    overflow:hidden;
    height: 100vh;
}

.container{
    
}
